@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 12, 12, 0.6)), to(rgba(12, 12, 12, 0.6))), url(../img/imagen.jpg);
  background-image: linear-gradient(rgba(12, 12, 12, 0.6), rgba(12, 12, 12, 0.6)), url(../img/imagen.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}

.body__header {
  height: 8vh;
}

.body__header--navImg {
  height: 35%;
  width: 35%;
}

.body__header--navItemList {
  text-decoration: none;
  color: #243840;
  font-size: 1.5rem;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.body__navegacion--itemLink {
  text-decoration: none;
  color: #243840;
  font-size: 1.5rem;
  font-weight: 400;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.body__navegacion--itemLink:hover {
  color: #d95f5f;
  border-bottom: 1px solid #f2f2f0;
}

.navbar {
  z-index: 100;
}

.body__error {
  background-image: url(../img/error-404.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.botonHome {
  text-decoration: none;
  color: #f2f2f0;
  border: 2px solid #d95f5f;
  background: #d95f5f;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.5rem;
  margin: 1rem 1rem 1rem 1rem;
  line-height: 5rem;
}

.error404 {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.mainIndex {
  height: 82vh;
  padding-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .mainIndex {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    padding-top: 1rem;
    height: auto;
  }
  .mainIndex .carousel {
    width: 80%;
    margin-bottom: 5rem;
  }
  .mainIndex .carousel-item__img {
    -o-object-fit: contain;
       object-fit: contain;
    margin: 3rem 3rem 5rem 3rem;
  }
}

@media screen and (max-width: 576px) {
  .mainIndex {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    padding-top: 0;
  }
  .mainIndex .carousel {
    width: 50%;
  }
}

@media screen and (max-width: 1024px) {
  .mainIndex {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    padding-top: 0rem;
    height: auto;
  }
  .mainIndex .mainIndex__title {
    margin: 2rem 0rem 1rem 5rem;
  }
  .mainIndex .carousel {
    width: 65%;
    margin-bottom: 2rem;
  }
  .mainIndex .carousel-item__img {
    -o-object-fit: contain;
       object-fit: contain;
    margin: 3rem 3rem 1rem 3rem;
  }
  .mainIndex .mainIndex__btn {
    margin: 25rem;
  }
}

.mainIndex__title {
  font-weight: 400;
  font-size: 2rem;
  color: #f2f2f0;
  margin: 4rem 0rem 1rem 5rem;
}

.mainIndex__subtitle {
  font-weight: 500;
  font-size: 5rem;
  color: #f2f2f0;
  margin: 1rem 0rem 1rem 4rem;
  padding-left: 1rem;
  line-height: 7rem;
}

.mainIndex__subtitle2 {
  font-weight: 400;
  font-size: 2rem;
  color: #f2f2f0;
  margin: 0rem 0rem 5rem 4rem;
  padding-left: 1rem;
}

.mainIndex__btn {
  text-decoration: none;
  color: #f2f2f0;
  margin-left: 5rem;
  border: 2px solid #d95f5f;
  background: #d95f5f;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.mainIndex__btn:hover {
  color: #365359;
}

.carousel {
  width: 50%;
  margin-left: 10rem;
  -webkit-transition: 5s;
  transition: 5s;
}

.carousel-item__img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 75%;
  margin-top: 4rem;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: tracking-in-expand 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.mainUs {
  height: 82vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainUs__texto {
  padding-left: 10rem;
  margin-bottom: 3rem;
}

.mainUs__texto--title {
  font-weight: 500;
  font-size: 5rem;
  color: white;
}

.mainUs__texto--subtitle {
  font-weight: 400;
  font-size: 2rem;
  color: #f2f2f0;
  margin: 1rem 0rem 2rem 0rem;
}

.mainUs__texto--txt {
  font-size: 1.5rem;
  color: white;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2rem;
  padding-top: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .mainUs .mainUs__texto {
    padding-left: 9rem;
    margin: 1rem 2rem 2rem 2rem;
  }
  .mainUs .mainUs__texto--title {
    padding-left: 19rem;
  }
  .mainUs .mainUs__texto--subtitle {
    padding-left: 15rem;
    margin: 1rem 0rem 2rem 0rem;
  }
  .mainUs .mainUs__texto--txt {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .mainUs .mainUs__texto {
    padding-left: 4rem;
  }
  .mainUs .mainUs__texto--title {
    padding-left: 11rem;
  }
  .mainUs .mainUs__texto--subtitle {
    padding-left: 7.5rem;
  }
  .mainUs .mainUs__texto--txt {
    padding-left: 1.5rem;
    padding-top: 0rem;
  }
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main__size {
  height: 82vh;
}

.content {
  max-width: 60vw;
  padding: 1.5em;
}

.content__title {
  font-size: 4rem;
  color: #f2f2f0;
}

.content__logo {
  text-align: center;
  font-size: 3em;
}

.content__contact-wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.content__contact-form {
  background: #d9d8d765;
}

.content__contact-form--form-text {
  margin: 0;
  padding: 1em;
  color: #f2f2f0;
}

.content__contact-form--form button,
.content__contact-form--form input,
.content__contact-form--form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  border-bottom: 1px solid #d95f5f;
  outline: none;
  color: #f2f2f0;
}

.content__contact-form--form button {
  background: #d95f5f;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  margin-top: .5em;
}

.content__contact-form--form button:hover {
  background: #365359;
  -webkit-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
  outline: 0;
}

.content__contact-info {
  background: #43555f;
  background: linear-gradient(159deg, #43555f 37%, #dbdad5 89%, #a9aba7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43555f", endColorstr="#a9aba7", GradientType=1);
  color: #f2f2f0;
}

.content__contact-info h3,
.content__contact-info ul,
.content__contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.content__contact-info ul {
  list-style: none;
  padding: 0;
}

.content__contact-info ul,
.content__contact-info li {
  padding: .3em;
}

.mainNieve {
  padding: 5rem 0;
}

.mainNieve .row {
  height: 100%;
}

.nieve__titles {
  padding-left: 3rem;
}

.nieve__titles--h1 {
  font-weight: 500;
  font-size: 5rem;
  color: white;
  padding-left: 2rem;
  margin: 2rem 0 0 0;
}

.nieve__titles--h2 {
  font-weight: 400;
  font-size: 1.5rem;
  color: #f2f2f0;
  margin: 2rem 0rem 2rem 0rem;
  padding-left: 2rem;
}

.nieve__text {
  padding-left: 2rem;
}

.nieve__text--sub3 {
  font-weight: 400;
  font-size: 2rem;
  color: #f2f2f2;
  background-color: #365359;
  margin-top: 3rem;
}

.nieve__text--sub4 {
  color: #f2f2f0;
  font-size: 1.5rem;
  margin: 1rem 1rem 1rem 1rem;
}

.nieve__text ul {
  padding-left: 5rem;
  font-size: 1.3rem;
  margin: 1rem 1rem 1rem 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #f2f2f0;
}

.nieve__text--p {
  font-size: 1.3rem;
  margin: 1rem 1rem 1rem 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #f2f2f0;
}

.mainPlaya {
  padding: 5rem 0;
}

.mainPlaya .row {
  height: 100%;
}

.playa__titles--h1 {
  font-weight: 500;
  font-size: 5rem;
  color: white;
  padding-left: 2rem;
  margin: 2rem 0 0 0;
}

.playa__titles--h2 {
  font-weight: 400;
  font-size: 1.5rem;
  color: #f2f2f0;
  margin: 2rem 0rem 2rem 0rem;
  padding-left: 2rem;
}

.playa__text {
  font-size: 1.3rem;
  margin: 2rem 0rem 2rem 0rem;
  line-height: 1.5rem;
  font-weight: 500;
  padding-left: 2rem;
}

.playa__text--h3 {
  font-weight: 400;
  font-size: 2rem;
  color: #f2f2f2;
  background-color: #365359;
  padding: 1rem 1rem 1rem 1rem;
}

.playa__text--h4 {
  color: #f2f2f0;
  font-size: 1.5rem;
}

.playa__text--p {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #f2f2f0;
}

.playa__img {
  width: 40%;
  height: auto;
  margin: 2rem 0;
}

.vuelos__btn {
  text-decoration: none;
  color: #f2f2f0;
  border: 2px solid #d95f5f;
  background: #d95f5f;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.5rem;
  margin: 1rem 1rem 1rem 1rem;
  line-height: 5rem;
}

.info__link {
  background-color: #f2f2f0;
  margin: 2rem 0rem;
  padding: 0.5rem 0.5rem;
  width: 75%;
}

.info__link a:hover {
  color: #d95f5f;
}

.footer {
  height: 10vh;
  background-color: #f2f2f04f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__txt {
  color: black;
  font-size: 2rem;
  font-weight: 500;
  margin-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__img {
  width: 50px;
  height: 50px;
}
/*# sourceMappingURL=main.css.map */