.mainUs {
    height: 82vh;
    display: flex;
    align-items: center;

    &__texto {
        padding-left: 10rem;
        margin-bottom: 3rem;
    }

    &__texto--title {
        font-weight: 500;
        font-size: 5rem;
        color: white;
    }

    &__texto--subtitle {
        font-weight: 400;
        font-size: 2rem;
        color: #f2f2f0;
        margin: 1rem 0rem 2rem 0rem;
    }

    &__texto--txt {
        font-size: 1.5rem;
        color: white;
        font-weight: 200;
        display: flex;
        line-height: 2rem;
        padding-top: 1.5rem;
    }

    @include laptop {

        .mainUs__texto {
            padding-left: 9rem;
            margin: 1rem 2rem 2rem 2rem;
        }


        .mainUs__texto--title {
            padding-left: 19rem;
        }

        .mainUs__texto--subtitle {
            padding-left: 15rem;
            margin: 1rem 0rem 2rem 0rem;
        }

        .mainUs__texto--txt {
            padding-left: 1rem;
        }
    }

    @include tablet {

        .mainUs__texto {
            padding-left: 4rem;
        }

        .mainUs__texto--title {
            padding-left: 11rem;
        }

        .mainUs__texto--subtitle {
            padding-left: 7.5rem;
        }

        .mainUs__texto--txt {
            padding-left: 1.5rem;
            padding-top: 0rem;
        }
    }

}

.video {
    display: flex;
    justify-content: center;
    align-content: center;
}